/* bx슬라이드 화살표 시작 */
.xans-smart-banner-admin-PC00003 .smart-banner-bx-wrapper .bx-controls-direction a{
  width:100px;
  height:100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  transform: translateY(-50%);
}
.xans-smart-banner-admin-PC00003 .smart-banner-bx-wrapper .bx-prev{
  background-image: url(https://gydms1.cafe24.com/web/myfolder/left-chevron.png);
}
.xans-smart-banner-admin-PC00003 .smart-banner-bx-wrapper .bx-next{
  background-image: url(https://gydms1.cafe24.com/web/myfolder/right-chevron.png);
}
/* bx슬라이드 화살표 종료 */